<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/auth-style.css">
    <title>LockRPG | Login</title>
</head>
<body>
    <nav class="bar">
        <label>LockRPG | Login</label>
    </nav>
    <form action="/login" method="post">
        <h2>Login</h2>
        <input required type="text" name="email" id="email" placeholder="Seu Email" autocomplete="off">
        <input required type="password" name="password" id="password" placeholder="Sua Senha" autocomplete="off">
        <button type="submit">Login</button>
        <p>Ainda não tem uma conta? <a href="/register">Clique aqui</a> para se registrar</p>
    </form>
</body>
</html>